.card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  //-webkit-transition: all .3s ease;
  //-o-transition: all .3s ease;
  //transition: all .3s ease;
  border-radius: 0.5rem;
}

.card-header {
  background-color: rgb(56,55,54);
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Montserrat', 'sans-serif';
  text-align: center;
  font-weight: 900;
  padding: 15px;
  font-size: 16px;
}

.card-header:first-child {
  border-radius: 0.5rem 0.5rem 0.0rem 0.0rem !important;
  border: 0;
}

.card-footer {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  background-color: #f0f0f0;
  text-align: center;
  padding: 22px;
}

.card:hover {
  //margin-top: -5px;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, .05);
  box-shadow: 0 10px 40px rgba(0, 0, 0, .05)
}

.modal-content {
  background: #fff0 !important;
}

.modal-body {
  padding: 40px !important;
  background-color: #ffffff;
}

.dashboard-card {
  text-align: left;
  font-size: 13px;
  font-weight: 700 !important;
  padding: 22px;
}
