.modal-header {
  background: #272727;
  color: #FFFFFF;
}

.modal-title {
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.close, .close:focus, .close:hover {
  color: #FFFFFF;
}

#uploadModal {
  overflow: auto;
}

.modal-lg.mediaModal {
  max-width: 80%;
}

.modal {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
