.custom-pagination {
  ul {
    li {
      a {
        position: relative;
        display: block;
        padding: .5rem .95rem;
        border-radius: 5px;
        margin-left: 3px;
        line-height: 1.25;
        color: #000000;
        background-color: #fff;
        border: 1px solid rgb(28, 133, 224);
      }

      &.active {
        a {
          z-index: 1;
          color: #fff;
          background-color: rgb(56,55,54);
          border-color: rgb(56,55,54);
        }
      }
    }
  }
}
