@font-face {
    font-family: UniversLTStd-Bold;
    src: url(../../fonts/UniversLTStd-Bold.otf);
}
@font-face {
    font-family: UniversLTStd-Light;
    src: url(../../fonts/UniversLTStd-Light.otf);
}
body{
    font-family: UniversLTStd-Light;
    margin: 0 !important;
    padding: 0 !important;
}
.main-table {
    background-image: url("../../images/bg1.png");
    background-repeat: no-repeat;
    width: 880px;
    height: 1220px;
    margin: 0 auto;
}
.stokito-address-td {
    font-size: 9px;
    width: 100%;
    padding-top: 200px;
    padding-left: 97px;
    padding-right: 50px;
    height: 10px;
}
.title-blocks-td,
.invoice-data-row-td,
.data-terms.invoice-data-row,
.data-note.invoice-data-row,
.data-details.invoice-data-row {
    width: 100%;
    padding-left: 97px;
    padding-right: 50px;
    padding-top: 21px;
    height: 140px;
}
.first-table,
.first-table tr {
    width: 100%;
}
.title-block-td {
    background: #fff;
    border: 1px dashed #666;
    vertical-align: top;
    font-size: 13px;
    padding: 5px 5px 5px 5px;
}
.title-block-td.left-block {
    width: 190px;
}
.title-block-td.right-block {
    float: right;
    line-height: 17px;
    min-width: 250px;
    padding-top: 8px;
}
.invoice-address {
    margin-left: 5px;
    margin-right: 5px;
    line-height: 15px;
}
.invoice-data-row-td {
    padding-top: 6px;
    height: 0px;
}
.invoice-data-title {
    display: inline-block;
    width: 100px;
    text-align: right;
}
.invoice-data-value {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.data {
    padding-top: 50px;
    height: 295px;
}
.first-table.listing {
    background: #fff;
}
.invoice-data-row-td.table-values {
    padding-top: 0px !important;
}
.invoice-data-row-td.table-totals {
    line-height: 10px;
}
.invoice-data-row-td.table-totals.first {
    padding-top: 10px;
}
.data-value {
    font-size: 13px;
}
.data-title {
    font-size: 14px;
    font-weight: 700;
    font-family: UniversLTStd-Bold;
}
.table-title,
.table-value {
    display: inline-block;
}
.table-titles div:nth-child(1),
.table-values div:nth-child(1) {
    width: 50%;
}
.table-titles div:nth-child(2),
.table-values div:nth-child(2) {
    width: 19%;
    text-align: center;
}
.table-titles div:nth-child(3),
.table-values div:nth-child(3) {
    width: 19%;
    text-align: center;
}
.table-titles div:nth-child(4),
.table-values div:nth-child(4) {
    width: 10%;
    text-align: center;
}
.line {
    border-top: 1px solid #000;
    width: 100% !important;
}
.invoice-data-row-td.table-titles-line {
    padding-top: 0px !important;
}
.table-titles-line {
    padding-top: 0px !important;
}
.invoice-data-row.table-totals {
    margin-bottom: 5px;
}
.table-totals {
    text-align: right;
    width: 100%;
}
.data-total-title {
    font-weight: 700;
    font-family: UniversLTStd-Bold;
    font-size: 14px;
    margin-right: 5px;
    width: 550px;
}
.data-total-value {
    width: 100px;
    text-transform: uppercase;
}
.table-total {
    display: inline-block;
}
.invoice-data-row.data-terms,
.invoice-data-row.data-note {
    font-weight: 700;
    font-family: UniversLTStd-Bold;
    font-size: 14px;
    height: 14px;
}
.invoice-data-row.data-note {
    padding-top: 148px;
}
.invoice-data-row.data-details {
    padding-top: 112px;
    font-size: 12px;
    text-align: center;
    padding-left: 45px;
}