.badge-primary {
  background-color: #222222;
  border-radius: 1rem;
  padding-right: 0.9em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.9em;
  height: 23px;
}

.activity-text {
  margin-left: 2rem;
}

.list-group-item {
  border-left: none;
  border-right: none;
  line-height: 1;
}

.bg-warning {
  background-color: grey;
}
