.licenses-table {
  img.preview-img {
    width: 50px;
    height: 35px;
  }
  .table th, .table td {
    vertical-align: middle;
  }
}

.license-badge {
  color: #fff;
  background-color: #28a745;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 5px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}